---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const posts = await getCollection("posts");
const postsData = posts.filter((post) => post.id.startsWith(lang));
---

<Layout>
  <section class="flex flex-col items-center justify-center">
    {
      postsData.map((post: any) => {
        const { id } = post;
        const { img, title, description, date } = post.data;
        return (
          <Card
            id={id}
            img={img}
            title={title}
            description={description}
            post_date={date}
          />
        );
      })
    }
  </section>
</Layout>
