---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<Layout>
  <Header />
  <section class="flex flex-col items-center justify-center">
    {
      posts.map((post: any) => {
        const { id } = post;
        const { img, title, description, date } = post.data;
        return (
          <Card
            id={id}
            img={img}
            title={title}
            description={description}
            post_date={date}
          />
        );
      })
    }
  </section>
</Layout>
